*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    /* background-color:gray; */
}

.flex-container{
    display:flex;
    /* flex-direction:row; */
    background-color:blue;
    /* flex-wrap:wrap-reverse; */
    /* flex-flow:row wrap; */
}
.flex-container2{
    background-color:yellow;
    height:200px;
    display:flex;
    align-items:baseline;
}

.flex-container2 > div{
    background-color:#fefefe;
    /* width:100px; */
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
/* @media screen and (min-width:481px){
    .flex-container{
        display:flex;
        flex-direction:column-reverse;
    }
} */
.flex-container > div {
    background-color: red;
    margin:10px;
    width:100px;
    text-align:center;
    line-height:75px;
    /* padding: 20px; */
    font-size:30px;
}
nav{
    background-image: linear-gradient(to right, red, yellow);
    display:flex;
    justify-content:space-around;
    /* align-items:stretch; */
    height:80px;
    align-items:center;
}
/* .logo{
    background-color:green;
}
.link {
    background-color:green;
} */
/* Pseudo Classes
selector:psuedo-class{
    propery:value;
} 

:link
:visited
:hover
:active
*/
.container-border{
    /* border-style: solid   ; */
    border: 2px solid red;
    /* padding:30px 30px; */
    width:300px;
    height:300px;
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
    opacity:0.2;
    border-radius:50%;
    /* border-top-style:dotted;
    border-right-style:solid;
    border-bottom-style:dotted;
    border-left-style:solid; */
    border-width:10px;
    /* border-color:green; */
    transition-property:opacity;
    transition-delay:2s;
    transition-duration:3s;
}
.container-border:hover{
    opacity:1;
    border:none;
    /* background-color:pink; */
}
nav ul{
    margin:0 ;
    list-style-type:none;
}

ul li{
    display:inline-block;
    margin-left:30px;
    /* padding: 20px; */
}

a{
    /* text-decoration:none; */
}
a:link{
color:red;
}

a:visited{
color:green;
}

a:hover{
color:yellow;
}
a:active{
color:blue;
}
.wrapper{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#fefefe;
}
    
.container{
    background-color:gray;
    width:350px;
    padding:10px;
    border-radius:5px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,.8), 0 6px 20px 0 rgba(0,0,0,.2);
}
h2{
    color:#fff;
    text-shadow:2px 2px 4px black;
    line-height:2;
    text-align:center;
}
input[type="text"], input[type="password"]{
    display:block;
    padding:10px;
    width:100%;
    margin: 20px 0;
    border-radius:5px;
    border:none;
    outline:none;
    background-color:#f5f5f5;
   
}

input::placeholder{
    color:#000;
    font-size:16px;
    
}

input[type="button"]{
    display:block;
    padding:10px 24px;
    width:100%;
    background-color:green;
    margin:0 0 20px;
    border:none;
    color:#fff;
    font-size:14px;
    border-radius:5px;
    cursor:pointer;
    transition-property:background-color;
    transition-delay:.5s;
    transition-duration:.8s;
    transition-timing-function:ease-in-out;
}
input[type="button"]:hover{
    background-color:#000;
}
/* 3 types of gradient
- Linear Gradient (goes down/up/left/right/diagonally)
- Radial Gradient : 
- Conic Gradient (rotates arounf a center point) 

syntax for linear gradient
background-image: linear-gradient(direction, color-stop1, color-stop2)


CSS transition
transition
transition-delay
transition-property
transition-timing-function:
-ease
-linear
-ease-in
-ease-out
-ease-in-out:


CSS Animation

*/